@import url("./style.css");


/* ----------------NAVBAR---------------------------------------------------------- */
.navbar{
    height: 8vh;
    /* display: flex; */
    /* border: 1px solid red; */
}
.inner-navbar{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid yellow; */
}
.logo-container{
    width: 5%;
    display: flex;
}
.logo-container h1{
    font-family: Poppins, sans-serif;
}

.navbar-toggler{
    display: none;
}
.menu{
    width: 50%;
    margin: auto;
}
.menu .menu-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.menu-list li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
}
.menu-list li a:hover{
    color: var(--dark-blue);
    border-bottom: 1px solid var(--red);
    transition: all 200ms linear;
}


.log-in-button{
    padding: .5rem .8rem;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border: none;
    cursor: pointer;
    box-shadow: 0 .3rem .8rem 0 rgba(166, 210, 242, 0.473);
    font-size: large;
}
.log-in-button:hover{
    background-color: var(--dark-blue);
    color: var(--light-blue);
    /* color: var(--red);
    border-color: var(--red); */
    font-weight: 500;
    box-shadow: 0 .3rem .8rem 0 rgba(232, 69, 44, 0.18);
    transition: all .3s linear;
}

/* ----------------------CONTENT---------------------------------------------------- */
.landing-content{
    width: 100%;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .landing{
        height: 100vh;
    }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    
    .navbar-toggler{
        display: flex;
        padding: .3rem .5rem;
        border-radius: 5px;
        cursor: pointer;
        background-color: var(--light-blue);
        color: var(--dark-blue);
        border: none;
        box-shadow: 0 .3rem .8rem 0 rgba(166, 210, 242, 0.473);
        font-size: large;
    }
    .navbar-toggler:hover{
        background-color: var(--dark-blue);
        color: var(--light-blue);
        box-shadow: 0 .3rem .8rem 0 rgba(232, 69, 44, 0.18);
        
        transition: all .3s ease-in-out;
    }
    .menu-list li a{
        display: none;
    }
    .menu{
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .menu .menu-list{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    .menu-list li a{
        text-decoration: none;
        color: black;
    }
    
    .log-in{
        width: 10%;
        margin-left: 1%;
    }
    .log-in-button{
        padding: .3rem .5rem;
    }
    
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .log-in{
        width: 30%;
        margin-left: 1%;
    }
}