:root{
    --dark-blue:#5A82B5;
    --light-blue:#A6D2F2;
    --red:#E8452C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.title{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}
.explanation{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}